// Sizes
$max-width: {{ .Param "style.pageWidth" | default "750px;" }};
$avatar-size: {{ .Param "style.avatarSize" | default "90px;" }};
$listimg-size: {{ .Param "style.listimgSize" | default "50px;" }};

// Colors
$black: {{ .Param "style.colorBlack" | default "#222222" }};
$red: {{ .Param "style.colorRed" | default "#dc3545" }};
$blue: {{ .Param "style.colorBlue" | default "#134267" }};
$illuminating: {{ .Param "style.colorY" | default "#f5df4d" }};
$peacockblue: {{ .Param "style.colorC" | default "#00a0b0" }};
$fruitdove: {{ .Param "style.colorP" | default "#cf5c78" }};
$skydiver: {{ .Param "style.colorB" | default "#00589b" }};
$clouddancer: {{ .Param "style.colorL" | default "#f0eee9" }};
$ultimategray: {{ .Param "style.colorG" | default "#939597" }};


// Font
$font-family: {{ .Param "style.fontFamily" | default "Inconsolata" }};
$font-size: {{ .Param "style.fontSize" | default "19px" }};

// Margins
$y-small: 0.6rem;
$y-medium: 1.5rem;
$y-large: 3.0rem;

// Placeholders
%link-default {
    color: $red;
    text-decoration: none;
    & * {
        color: $red;
    }
    &:hover {
        color: $black;
    }
}
%link-dark {
    color: $black;
    text-decoration: none;
    & * {
        color: $black;
    }
    &:hover {
        color: $red;
    }
}
%link-display {
    color: $black;
    text-decoration: none;
    & * {
        color: $black;
    }
    &:hover {
        color: $red;
    }
}
%table-cell {
    //border: 1px solid #cccccc;
    padding: 6px 12px;
    font-size: $font-size - 4;
    text-align: left;
}

// Style
* {
    color: $black;
    font-size: $font-size;
    font-family: $font-family;
    line-height: 1.5;
}
.container {
    max-width: $max-width;
}
.break {
    display: block;
}
.navbar-brand {
    @extend %link-display;
        text-overflow: ellipsis;
        font-size: 2.5rem;
}
.nav-link {
    @extend %link-default;
    &:hover {
        font-weight: bold;
        color: $red;
    }
}
.nav-current {
    text-decoration: underline;
    font-weight: bold;
    color: $black;
    &:hover {
        text-decoration: underline;
        color: $black;
    }
}


#content {
    div.repolist {
        min-height: $listimg-size*1.4;
    }
    div.projectheader {
        min-height: $avatar-size*1.25;
    }
    a {
        @extend %link-default;
    }
    .darklink {
        @extend %link-dark;   
    }
    p {
        margin-bottom: $y-small;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: $font-size;
        font-weight: bold;
        margin: $y-medium 0 $y-small 0;
    }
    h1, h2 {
        margin: $y-large 0 $y-small 0;
    }

    @for $i from 1 through 4 {
        h#{$i} {
            font-size: $font-size + 2 * (4 - $i);
        }
    }
    img {
        display: block;
        margin: $y-medium auto;
        max-width: 100%;
    }
    .avatar > img {
        border-radius: 50%;
        float: right;
        margin: -8px 0 0 16px;
        height: $avatar-size;
        width: $avatar-size;
    }
    .listimg > img {
        border-radius: 50%;
        float: right;
        margin: -8px 0 0 16px;
        height: $listimg-size;
        width: $listimg-size;
    }
    ol {
        counter-reset: list;
        list-style: none;
        padding-left: 2rem;
        & > li {
            display: table-row;
        }
        & > li:before {
            content: "[" counter(list, decimal) "] ";
            counter-increment: list;
            display: table-cell;
            text-align: right;
            padding-right: .5em;
        }
    }
    .container > ol, .footnotes > ol {
        padding-left: 0;
    }
    ul {
        list-style: inside;
        padding-left: 2rem;
        & > li {
            list-style-position: outside;
            margin-left: 1em;
        }
    }
    .container > ul, .footnotes > ul {
        padding-left: 0;
    }
    table {
        margin: $y-medium auto;
        width: 100%;
        & th {
            @extend %table-cell;
            font-weight: bold;
            border-bottom: 1px solid black;
        }
        & td {
            @extend %table-cell;
        }
        & tr:last-child {
            @extend %table-cell;
            border-bottom: 1px solid black;
        }
        //& tr:nth-child(2n) {
        //    background-color: #f8f8f8;
        //}
    }
    blockquote {
        border-left: 2px solid;
        font-style: italic;
        margin: $y-medium 0;
        padding: 8px 8px;
    }
    code {
        color: $black;
        font-size: $font-size - 4;
        background-color: #f8f8f8;
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding: 0px 4px;
    }
    pre code {
        all: unset;
    }
    .highlight {
        margin: $y-small auto;
        & > pre {
            padding: 8px 8px;
        }
    }
}
#footer {
    a {
        @extend %link-dark;
    }
}
